.markdown img{
    display: block;
    max-width: 100%;
    height: auto;
}
.scrollbar::-webkit-scrollbar {
    display: none;
} 

.mod{
    margin-top: 10px;
    align-items: center;
}
.navbar {
    z-index: 1;
    
  }
/* .background{
    background: radial-gradient(#fff,#c0a0a0);
    height: 100vh;
} */
/* .reco{
    background: radial-gradient(#fff,#c0a0a0);
} */
/* .recoo{
    background: radial-gradient(#f8f5f5,#d47474);
} */